@import "./variables";
.end {
    text-align: right;
}
.middle{
  text-align: center;
}
.pointer{
    cursor: pointer;
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.display{
  display: block;
}
.none-display{
  display: none;
}
.vertical-line {
  border-right: $border;
}
.horizontal-line {
  border-bottom: $border;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); 
$sides: (top, bottom, left, right); 

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{$space}{
      margin: #{$space}px !important;
    }
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .mlr-#{$space}{
      margin: 0px #{$space} !important;
    }
    .mtb-#{$space}{
      margin: 0px #{$space} !important;
    }
    .p-#{$space}{
      padding: #{$space}px !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
    .plr-#{$space}{
      margin: 0px #{$space} !important;
    }
    .ptb-#{$space}{
      margin: 0px #{$space} !important;
    }
  }
}

$spacedflex: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100);
$dimentions: (width, height);
@each $space in $spacedflex{
  @each $dimention in $dimentions{
    .#{str-slice($dimention, 0, 1)}-#{$space}{
      height: #{$space * 5}px !important;
    }
    .d#{str-slice($dimention, 0, 1)}-#{$space}{
      height: #{$space}#{'%'} !important;
    }
    .df-#{str-slice($dimention, 0, 1)}-#{$space}{
      height: #{$space}vh !important;
    }
    .min-#{str-slice($dimention, 0, 1)}-#{$space}{
      min-height: #{$space * 5}px !important;
    }
  } 
}